body{
    font-family: "Roboto", serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    column-gap: 0;
    color:  #F9FAF8;
    
}

.hero-img {
    width: 800px;
    padding-left: 3em;
}

.menu, .sec-hero {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.menu {
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: flex-end;
}

#dark-container {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
}

h1, p { 
    margin: 0;
}
.content-one {
    margin: 0;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
}

.container-one {
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 900;
}

.content-one .hero {
    background-color: #1F2937;
    font-size: 48px;
    font-weight: bold;
}

.hero, .sec-hero {
    margin-bottom: 10px;
}

button, .call-to-action {
    background-color: #3882F6;
}

button {
    border-radius: 5px;
    max-width: fit-content;
    padding: 5px 20px;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
}

/*This is for the random information section*/

.content-random-information {
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.content-random-information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.random-content {
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
}

.img-txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 30px;
}

.image {
    border: #3882F6 solid 3px;
    border-radius: 10px;
    max-width: 200px;
    height: auto;
}

.img-txt p {
    max-width: 200px;
    text-align: center;
}

/* Here starts the quote section */
.quote {
    padding: 180px 350px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
} 

#quoted {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}

/* Here starts the Call to Action section */
.action-container{
    padding: 100px 250px;
}

.call-to-action {
    border-radius: 10px;
    padding: 30px 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.call-to-action button {
    border: 1px solid #F9FAF8;
}

/* Here starts the footer*/
.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}